extends layouts/main

block content
    div.form__container
        h1 Edit Video
        video.videoBlock__thumbnail(src=`/${video.fileUrl}`, controls=true, width="600")
        form(action=routes.editVideo(video.id), method="post")
            label(for="avatar") Edit Video
            input(type="text", placeholder="Titel", name="title", value=video.title)
            textarea(name="description", placeholder="description")=video.description
            input(type="submit", value="Update Video")
            a.form-container__link.form-container__link--delete(href=`/${routes.deleteVideo(video.id)}`) Delete Video