extends layouts/main 

block content
    div.form__container
        form(action=routes.join, method="post")
            input(type="text", name="name", placeholder="your name", required=true)
            input(type="email", name="email", placeholder="e-mail", required=true)
            input(type="password", name="password1", placeholder="password", required=true)
            input(type="password", name="password2", placeholder="verify password", required=true)
            input(type="submit", value="Join Now")
        include partials/socialLogin