extends layouts/main
include mixins/videoBlock

block content
    div.user-profile 
        .user-profile__header
            if user.id === loggedUser.id
                img.u-avatar(src=`${user.avatarUrl}`)
            if user.id !== loggedUser.id
                img.u-avatar(src=`${user.avatarUrl.substr("6,str.length")}`)
            h4.profile__username=user.name
        if user.id === loggedUser.id 
            .user-profile__btns 
                a(href=`/users${routes.editProfile}`)
                    button Edit Profile
                a(href=`/users${routes.changePassword}`)
                    button Change Password
        div.home-videos 
            each item in user.videos
                +videoBlock({
                    id: item.id,
                    videoFile: item.fileUrl,
                    title: item.title,
                    views: item.views
                })