extends layouts/main
include mixins/videoBlock

block content
    div.video-Detail__container
        div.video__player
            iframe(src=video.fileUrl  frameborder="0" width=600 height=320 allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            //- video.videoBlock__thumbnail(src=`/${video.fileUrl}`, controls=true, width="600")
        div.video__info 
            if loggedUser && video.creator.id === loggedUser.id
                a(href=routes.editVideo(video.id))
                    button  Edit Video         
            h5.video__title Title : #{video.title}
            h4.video__author Uploaded By  : 
                a(href=routes.userDetail(video.creator.id))= video.creator.name
            p.video__description Description :  #{video.description}
            
            if video.views === 1
                span.video__views 1 view
            else
                span.video__views #{video.views} views
        div.video__comments 
            if video.comments.length === 1
                span.video__comment-number
                    span#jsCommentNumber 1
                    |  comment
            else
                span.video__comment-number
                    span#jsCommentNumber=video.comments.length
                    |  comments 
            form.add__comment#jsAddComment 
                input(type="text", placeholder="Add a comment")
            ul.video__comments-list#jsCommentList
                each comment in video.comments.reverse() 
                    li
                        //- span.comment_writer #{loggedUser.email} :
                        span=comment.text